<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skushnaryov.lighttask.lighttask">

    <application
        android:name=".LightTask"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddActivity"
            android:label="@string/title_activity_add" />

        <receiver
            android:name=".recievers.TaskReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="com.skushnaryov.lighttask.TASK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".recievers.TaskDoneReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="com.skushnaryov.lighttask.TASK_DONE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".recievers.TaskRemindReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="com.skushnaryov.lighttask.TASK_REMINDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".recievers.ReminderReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="com.skushnaryov.lighttask.REMINDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".recievers.ReminderOffReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="com.skushnaryov.lighttask.REMINDER_OFF" />
            </intent-filter>
        </receiver>
    </application>

</manifest>